<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Object Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-link" href="/">
                Home
              </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <form action="/" method="post">
                  <input type="hidden" id="ibm_api_key_id" name="ibm_api_key_id" value="">
                  <input type="hidden" id="ibm_service_instance_id" name="ibm_service_instance_id" value="">
                  <input type="hidden" id="endpoint_url" name="endpoint_url" value="">
                  <input type="hidden" id="bucket" name="bucket" value="">
                  <input type="hidden" id="logging_in" name="logging_in" value="false">
                    <button class="button is-ghost navbar-item" title="logout" class="button" type="submit" value="Submit">Logout</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Details
      </h1>
      <div class="box">
        <article class="media">
 
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Name:{{ object.key }}</strong> <small>Size:{{ object.size_label }}</small>
                <br>
                Owner:{{ object.owner }}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>




  </section>

  <section class="section">
    <h1  class="title">
      Download Script
    </h1>
    <pre>
        <code class="highlight">
#!/bin/bash

token=$(curl -s -X "POST" "https://iam.cloud.ibm.com/oidc/token" \
-H 'Accept: application/json' \
-H 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode "apikey={{object.cred.ibm_api_key_id}}" \
--data-urlencode "response_type=cloud_iam" \
--data-urlencode "grant_type=urn:ibm:params:oauth:grant-type:apikey" | jq -r '.access_token')


curl "{{ object.cred.endpoint_url }}/{{object.cred.bucket}}/{{ object.key }}" -H "Authorization: bearer $token" -O
        </code>
    </pre>
  </section>

  <section class="section">
    <h1  class="title">
      Delete Script
    </h1>
    <pre>
        <code class="highlight">
#!/bin/bash

token=$(curl -s -X "POST" "https://iam.cloud.ibm.com/oidc/token" \
-H 'Accept: application/json' \
-H 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode "apikey={{object.cred.ibm_api_key_id}}" \
--data-urlencode "response_type=cloud_iam" \
--data-urlencode "grant_type=urn:ibm:params:oauth:grant-type:apikey" | jq -r '.access_token')


curl -X DELETE "{{ object.cred.endpoint_url }}/{{object.cred.bucket}}/{{ object.key }}" -H "Authorization: bearer $token"
        </code>
    </pre>
  </section>

  </body>
</html>